<form (ngSubmit)="create()" [formGroup]="solicitudForm">
  <div class="row">
    <div class="col-md-4">
      <label>Reporter</label>
      <select class="form-control" formControlName="reportero">
        <option value="1">Reportero 1</option>
      </select>
    </div>
    <div class="col-md-4">
      <label>Descripcion Equipo</label>
      <input class="form-control" formControlName="equipoFotografico">
    </div>
    <div class="col-md-4">
      <label>Fecha</label>
      <input class="form-control" formControlName="fecha">
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label>Descripcion CV</label>
      <textarea class="form-control" formControlName="resumenCV"></textarea>
    </div>
  </div>
  <div class="row justify-content-center">
    <button type="submit" class="col-3 btn btn-success" [disabled]="movieForm.invalid">Crear</button>
  </div>
</form>
