<form (ngSubmit)="create()" [formGroup]="solicitudForm">
  <div class="row">
    <div class="col-md-4">
      <label>Reporter</label>
      <select class="form-control" formControlName="reportero">
        <option value="{{ repo.name }}" *ngFor="let repo of reporteros">{{repo.name }}</option>
      </select>
    </div>
    <div class="col-md-4">
      <label>Descripcion Equipo</label>
      <input class="form-control" formControlName="equipoFotografico">
    </div>
    <div class="col-md-4">
      <label>Fecha</label>
      <input class="form-control" formControlName="fecha">
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label>Resumen CV</label>
      <textarea class="form-control" formControlName="resumenCV"></textarea>
    </div>
    <div class="col-4">
      <label>Descripcion solicitud</label>
      <textarea class="form-control" formControlName="descripcion"></textarea>
    </div>
  </div>
  <div class="row justify-content-center">
    <button type="submit" class="col-3 btn btn-success">Crear</button>
  </div>
</form>
