<form (ngSubmit)="create()" [formGroup]="reporteroForm">
  <div class="row">
    <div class="col-4">
      <label>DNI</label>
      <input type="text" class="form-control" formControlName="">
    </div>
    <div class="col-4">
      <label>Nombre</label>
      <input type="text" class="form-control" formControlName="">
    </div>
    <div class="col-4">
      <label>Apellidos</label>
      <input type="text" class="form-control" formControlName="">
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label>Direccion</label>
      <input type="text" class="form-control" formControlName="">
    </div>
    <div class="col-4">
      <label>Ciudad</label>
      <input type="text" class="form-control" formControlName="">
    </div>
    <div class="col-4">
      <label>CP</label>
      <input type="text" class="form-control" formControlName="">
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label>Categoria</label>
      <select formControlName="categoria">
        <option value="{{ categoria._id }}" *ngFor="let categoria of cates">{{ categoria._id }}</option>
      </select>
    </div>
  </div>
  <div class="row justify-content-center">
    <button type="submit" class="col-3 btn btn-success">Crear</button>
  </div>
</form>
